.CFUserTextEncoding
.DS_Store
.aws/
.cache/
.ssh/
Applications/
AdobeConnectAppCache/
CloudDocs
Creative\ Cloud\ Files/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Virtual\ Machines.localized/
bin/
brazil-pkg-cache/
go/
src/
perl5/
workplace/
.anyconnect
.bash_sessions/
.bash_history
.cdk/
.cisco/
.docker/
.dropbox/
.kibana-aws-electron.json
.midway/
.npm/
.opam/
.poetry/
.pry_history
.psql_history
.pylint.d/
.oracle_jre_usage/
.runtimes/
.wget-hsts
.zcompdump-*
.rustup/
.subversion/
.toolbox/
.vscode/
.python_history
.yanrc
.tldrc/
.tmux/
.utop-history
.viminfo
.zsh_history
.zshrc.pre-oh-my-zsh
.node_repl_history
.oh-my-zsh
.account
.bats
.cargo/
.cpan/
.cups/
.emacspersps
.m2/
.sonar/
.vim/
.vmodules/
adobeconnectapp.log
